body{
	font-family: soleil,Helvetica,Arial,sans-serif;
    color: #FFF;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/closet_homepage.jpg");

}


